ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.outbox {
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.item {
  display: inline-block;
}
.item img{
  object-fit: cover;
}
.inbox {
  position: absolute;
  transition: 700ms;
  transition-timing-function: ease-in;
}
.page-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  height: 10rem;
  line-height: 10rem;
  width: 5%;
  text-align: center;
  transition: 200ms;
  cursor: pointer;
}
.page-btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.6);
}
.page-btn:active {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 1);
}
.page-btn:hover.right::before,
.page-btn:hover.right::after,
.page-btn:hover.left::before,
.page-btn:hover.left::after {
  background-color: white;
}
.right {
  right: 0;
}
.left::before,
.right::after {
  content: "";
  width: 50%;
  height: 0.3rem;
  background-color: transparent;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.left::after,
.right::before {
  content: "";
  width: 50%;
  height: 0.3rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.left::after {
  transform-origin: left center;
  bottom: 49.5%;
}
.right::before {
  transform-origin: right center;
  top: 49.5%;
}
.left::before {
  top: 49.5%;
  transform-origin: left center;
}
.right::after {
  bottom: 49.5%;
  transform-origin: right center;
}
.point {
  border-radius: 50%;
  background-color: white;
  height: 10px;
  width: 10px;
  float: left;
  margin: 0 5px;
  transition: 200ms;
}
.point-group {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.point.active {
  transform: scale(1.5);
}
.bar {
  height: 1%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  z-index: 10;
}
